/* HEADER */
.header__nav{
    /* background-color: rgb(3, 208, 3); */
    background: rgb(3,208,3);
    background: linear-gradient(0deg, rgba(3,208,3,1) 0%, rgba(3,200,3,1) 100%);
    font-size: 1.4em;
}
a:hover{
    transform: scale(1.2);
}