@import "variables";
@import "nav";
@import "footer";
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Anek Malayalam', sans-serif;
}

/* INICIO */
.inicio{
    display: flex;
    background-color: $color-background;
    flex-wrap: nowrap;
    &__parrafo{
        display: block;
        padding: 3%;
        width: 40vw;
        .inicio__titulo{
            text-align: center;
            font-size: 2em;
        }
        .inicio__texto{
            display: block;
            text-align: center;
            font-size: 1.3em;
        }
    }
    &__img{
        height: 500px;
        width: 700px;
    }
    &__img img{
        height: 100%;
        width: 100%;
    }
}

/* DEPORTES */
.deportes{
    background-color: $color-background;
    &__card{
        display: inline-flex;
        margin: 20px;
        height: 450px;
        width: 500px;
        text-align: center;
        &--img{
            height: 400px;
            width: 500px;
        }
    }
}

/* INSTALACIONES */
.instalaciones__galeria{
    display: grid;
    background-color: $color-background;
    padding: 20px;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"cancha-handball cancha-handball cancha-hockey cancha-hockey karate karate"
                        "cancha-paddle cancha-paddle cancha-paddle cancha-futbol cancha-futbol cancha-futbol"
                        "cancha-rugby cancha-rugby dormis-img dormis-img rugby rugby";
}
.cancha-handball{
    grid-area: cancha-handball;
    background-image: url("../resources/cancha-handball.jpg");
    background-position: center;
    @extend .background-img;
}
.cancha-hockey{
    grid-area: cancha-hockey;
    background-image: url("../resources/cancha-hockey.jpg");
    background-position: center;
    @extend .background-img;
}
.karate{
    grid-area: karate;
    background-image: url("../resources/karate.jpg");
    background-position: center;
    @extend .background-img;
}
.cancha-paddle{
    grid-area: cancha-paddle;
    background-image: url("../resources/cancha-paddle.jpg");
    background-position: bottom;
    @extend .background-img;
}
.cancha-futbol{
    grid-area: cancha-futbol;
    background-image: url("../resources/cancha-futbol.jpg");
    background-position: center;
    @extend .background-img;
}
.cancha-rugby{
    grid-area: cancha-rugby;
    background-image: url("../resources/cancha-rugby.jpg");
    background-position: center;
    @extend .background-img;
}
.dormis-img{
    grid-area: dormis-img;
    background-image: url("../resources/dormis.jpg");
    background-position: center;
    @extend .background-img;
}
.rugby{
    grid-area: rugby;
    background-image: url("../resources/rugby.jpg");
    background-position: center;
    @extend .background-img;
}

/* DORMIS */
.dormis{
    text-align: center;
    
    background-color: $color-background;
    &__img{
        margin: 15px;;
        width: 600px;
    }
    &__texto{
        padding: 15px;
        font-size: 1.3em;
    }
}

/* CONTACTO */
.contacto{
    text-align: center;
    height: auto;
    padding: 30px 30px 150px 30px;
    font-size: 1.3em;
    background-color: $color-background;
}
.contacto__card{
    margin: 6px;
    width: 30vw
}

@import "mediaqueries";